# Python
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# Video uploads
uploads/
*.mp4

# Output folders
runs/
outputs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db